@media only screen and (max-width: 767px) {
    .language-selector {
        position: inherit;
        margin-top: 10px;
    }
    .btn-hide{
        top: 450px !important;
    }
    .btn-new-game{
        font-size: 40px !important;
        width: 300px !important;
    }
    .player-card{
        margin-top: 60px;
    }
}