body{
    background: linear-gradient(rgba(0, 0, 0, 0.776), rgba(0, 0, 0, 0.776)), url(./images/spy2.jpeg);
    /* background-color: black !important; */
    background-size: 20%;
}
#spy{
    margin-top: 10px;
    color: darkred;
    font-weight: 700;
}
#logo{
    width: 300px;
    opacity: 50%;
}
label{
    color: white;
    font-size: 30px;
}
.players-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player-count{
    font-size: 50px;
    border-radius: 10px;
    border: solid 1px;
    padding: 5px;
    width: 90px;
}
#start-btn{
    font-size: 30px;
    padding: 10px;
    width: 140px;
    margin-top: 30px;
}
.btn-new-game{
    font-size: 30px;
    padding: 10px;
    width: 140px;
    margin-top: 30px;
}
#new-game-btn-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-container{
    margin-top: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-button{
    font-size: 40px !important;
    padding: 10px;
    width: 200px;
}
.player-card{
    margin-top: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 67, 67);
    border-radius: 5px;
    padding: 55px;
    padding-bottom: 140px;
    height: 311px !important;
    width: 248.390625px !important;
    transition: .3s;
}
.player-card-text{
    font-size: 20px;
    color: white;
}
.word{
    font-size: 50px;
    color: green;
}
.btn-hide{
    position: absolute;
    top: 900px !important;
    font-size: 35px !important;
}
.player-card-bad{
    border: solid 1px red;
}
.player-card-good{
    border: solid 1px green;
}
#player-count-wrong{
    display: none;
    color: red;
}