body, main{
    background: linear-gradient(rgba(0, 0, 0, 0.776), rgba(0, 0, 0, 0.776)), url(./images/spy2.jpeg);
    /* background-color: black !important; */
    background-size: 20%;
}
main{
    min-height: 100vh;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 10px !important;
}

.language-selector {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.language-selector label{
    color: white;
    font-size: 30px;
}

#language-select {
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-left: 10px;
    appearance: inherit;
}
#language-select:focus{
    outline: none;
}

#logo{
    width: 300px;
    opacity: 50%;
}

.players-container{
    flex-direction: column;
    user-select: none;
    -webkit-user-select: none;
}

h1#player-count-text{
    text-align: center;
    color: white;
    font-size: 30px;
}
h1#player-count{
    color: white;
    font-size: 50px;
    margin: 0 10px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
}

.arrows{
    flex-direction: column;
}
.arrows button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    transition: transform 0.3s;
}
.arrows button:hover{
    transform: scale(1.2);
}

#start-btn{
    font-size: 30px;
    padding: 10px;
    width: 140px;
    margin-top: 30px;
}

#game-container{
    margin-top: 40px;
    flex-direction: column;
}

#choose-btn{
    font-size: 40px !important;
    padding: 10px;
    width: 200px;
}

.player-card{
    flex-direction: column !important;
    background-color: rgb(67, 67, 67) !important;
    border-radius: 5px !important;
    min-height: 311px;
    width: 248.390625px;
}
.player-card{
    margin-top: 30px;
    padding: 55px;
    padding-top: 15px;
    padding-bottom: 40px;
}
.player-card-text{
    font-size: 20px;
    color: white;
}
.role, .word{
    font-size: 50px;
}
.role{
    color: white;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px red, 0 0 35px red, 0 0 40px red, 0 0 50px red, 0 0 75px red;
}
.word{
    color: green;
}
.btn-hide{
    font-size: 35px !important;
    margin-top: 40px;
}

#player-card-bad{
    border: solid 1px red;
}
#player-card-good{
    border: solid 1px green;
}
#player-count-wrong{
    color: red;
}

#new-game-btn{
    font-size: 40px !important;
    padding: 10px !important;
    width: 300px;
    margin-top: 30px;
}

.timer-container{
    margin-top: 50px;
    user-select: none;
    -webkit-user-select: none;
}
#timer{
    font-size: 100px;
    color: white;
    text-shadow: 0 0 15px #fff, 0 0 20px red, 0 0 35px red, 0 0 40px red, 0 0 50px red, 0 0 75px red;
}

footer{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 5px 5px;
}
